<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://miclientapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2c42cd3e-8a9e-48dc-b8fe-4f66b3eb5e4e/resourcegroups/Nov112020AppResourceGroup/providers/Microsoft.Web/sites/MIClientApp</ResourceId>
    <UserName>$MIClientApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://miclientapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>